<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BingMapAppSDK" version="1.0.1011.1716" targetFramework="net45" />
  <package id="BingMapsWpfControl" version="1.0.0" targetFramework="net45" />
  <package id="GoogleMaps.LocationServices" version="0.9.8.3" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.10.1.1" targetFramework="net45" />
</packages>